body {
    padding: 30px;
    font-family: 'Helvetica';
}

.todo-app {
    max-width: 300px;
    text-align: center;
}

.todo {
    padding: 8px 12px;
    margin: 8px 0;
    border-radius: 3px;
    text-align: center;
    background: #78A0B8;
    color: #fff;
}