* {
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Helvetica';
  overflow: hidden;
}

.todo-app {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #00ADFF;
}

.todo {
  position: relative;
  overflow: hidden;
}

.todo__inner {
  //height: calc(100% - 8px);
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  color: #00ADFF;
  box-sizing: border-box;
}

.todo__remove,
.todo__expand {
  width: 12px;
  height: 12px;
  line-height: 12px;
  color: #00ADFF;
  position: absolute;
  top: 26px;
  transform: translateY(-50%);
  cursor: pointer;
}

.todo__remove {
  left: 12px;
}

.todo__expand {
  right: 12px;
}

.buttons {
  display: flex;

  button {
    flex: 1;
    padding: 12px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    background: #85D8FF;
    color: #fff;
    cursor: pointer;
  }
}

////////////////////////////////
// Modal Module
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(#000, 0.5);

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.35s, opacity 0.35s linear;

  &.modal--open {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.35s linear;
  }
}

.modal__content {
  width: 50%;
  padding: 50px;
  border-radius: 3px;
  background: #fff;
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 24px;
  height: 24px;
  padding: 5px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background: #F34261;
  color: #fff;

  &:before {
    content: '\2715';
  }
}

.modal-trigger {
  display: block;
  width: 70px;
  height: 70px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline: 0;
  background: #F34261;
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 25px;
  cursor: pointer;
  -webkit-user-select: none;

  i {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 28px;
    line-height: 20px;
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

////////////////////////////////
// Menu
.menu-container {
}

.menu-button {
  display: block;
  padding: 10px;
  margin: 50px auto 10px;
  border: 1px solid #ccc;
  background-color: white;
}

.menu {
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #333;
}


////////////////////////////////
// Layout
.alert {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  border: 1px solid #ccc;
  position: absolute;
  bottom: 38px;
  right: 38px;
  z-index: 10;
}

.alert--warning {
  border-color: #EAE0AE;
  background-color: #FFE97B;
  color: #6F6530;
}


////////////////////////////////
// Layout
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.notification {
  display: block;
  padding: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.notification--error {
  background-color: red;
}
